node_modules/
Smart_Attendance_Project/

backend/.env
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

dist/
build/
.vite/

*.log
Thumbs.db
.DS_Store
